/***********************************************************************
@file     Homepage.css
@author   Collin Furth
@date     10/07/2020
@brief
  See `Homepage.js` for details.
***********************************************************************/
.Background .Banner {
    position: relative;
    width: 100vw;
    height: 200px;
    bottom: 8px;
    background-color: #3682C8;
}

.Background .Header {
    position: relative;
    text-align: center;
    /* Font Settings */
    color: #E3EAF2;
    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
}

.Greeting {
    position: relative;
    width: 1000px;
    height: 56px;
    left: 220px;
    top: 60px;
    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E3EAF2;
}