/***********************************************************************
@file     Homepage.css
@author   Collin Furth
@date     10/07/2020
@brief
  See `Homepage.js` for details.
***********************************************************************/

.Homepage {
  position: absolute;
}

.Background {
  /* Background Image */
  /*background-image: url("../img/landingPagePhoto.jpg");*/
  position: absolute;
  color: rgba(74, 73, 118, 0.26);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.Header {
  position: absolute;
  text-align: center;
  /* Font Settings */
  color: #E3EAF2;
  font-family: Rationale;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 65px;
}

.Homepage .Background .ButtonGroup {
  position: relative;
  text-align: center;
  width: 140px;
  height: 104px;
  left: 630px;
  top: 40px;
  border-radius: 12px;
  line-height: 28px;
}

.Homepage .Background .ButtonGroup .FirstToggle {
  position: relative;
  text-align: center;
  height: 48px;
  left: 90px;
  margin-bottom: 18px;
}

.Homepage .Background .ButtonGroup .FirstToggleText {
  position: absolute;
  right: 38px;
  bottom: 70px;
  width: 264px;
  height: 28px;
  font-size: 24px;

}

.Homepage .Background .ButtonGroup .SecondToggle {
  position: absolute;
  text-align: center;
  height: 48px;
  left: 90px;
}

.Homepage .Background .ButtonGroup .SecondToggleText {
  position: absolute;
  right: 40px;
  bottom: 8px;
  width: 264px;
  height: 28px;
  font-size: 24px;
}

.Homepage .Background .Button {
  position: absolute;
  width: 164px;
  height: 40px;
  left: 616px;
  top: 372px;
  color: #3682C8;
}

.Homepage .Background .Button:hover {
  color: #03417B;
}

.Homepage .Background .Button:disabled {
  color: #ABAEB0;
}

.Homepage .Background .Result {
  position: absolute;
  left: 500px;
  top: 436px;
  font-size: 32px;
  color: #3682C8;
  
}