/***********************************************************************
@file     Homepage.css
@author   Collin Furth
@date     10/07/2020
@brief
  See `Homepage.js` for details.
***********************************************************************/

.Homepage {
  position: absolute;
  overflow: hidden;
}

.Background {
  background-color: rgba(74, 73, 118, 0.06);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.ButtonGroup {
  text-align: center;
  font-size: 24px;
  padding-top: 2%;
}

.FirstToggleGroup {
  padding-right: 2%;
  padding-bottom: 2%;
}

.SecondToggleGroup {
  padding-right: 2%;
  padding-bottom: 2%;
}

.Homepage .Background .Button:hover {
  color: #03417B;
}

.Homepage .Background .Button:disabled {
  color: #ABAEB0;
}

.Result {
  padding-top: 2%;
  font-size: 32px;
  color: #3682C8;
  
}